* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {


    background-color: black;
}



h1{

color: black;

}


.horizontal {

background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

div  {

    display: flex;
    align-items: stretch;
    margin-left: 3%;
}


.imagem{

  width: 100px;


}

.menu{

font-size: 22px;
font-family: Arial, Helvetica, sans-serif;
height: 24px;
align-self: auto;
margin-left: auto;
margin-right: auto;
width: 300px;

}

.videos {
  
  flex-direction: column-reverse;
  align-self: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}