.video-info
{
 font-family: Arial, Helvetica, sans-serif;
font-size: large;;
  
  color: aliceblue;

}



.video-item {

padding: 20px;

}

.shadow-lg{


  background-image: linear-gradient(rgb(185, 178, 178), rgb(37, 37, 31));

}


.logo{

  position: relative;
  top: 10px;
  left: 20px ;
  width: 100px;
  height: 100px;
  border: 3px solid #e44040;

}


.desc{

width: 30px;
border-radius: 50px;


}